#map {
    height: 400px;
    padding: 0;
}

.line-chart {
    border: 1px solid lightgray;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}

.tick {
    font-size: 12px;
}